<h1 class="bg-dark text-white">
  {{ titulo }}!
</h1>
<div class="row">
    <button class="btn btn-primary" (click)="estaDivActivo = estaDivActivo?false:true">TOGGLE DIV</button>
    <div *ngIf="estaDivActivo" class="col-12">
        ESTE ES EL TEXTO CON LA DIRECTIVA ngIF.
    </div>
</div>


<button class="btn btn-danger" (click)="toogleDiv()" >EJEMPLO DE CLASE</button>

<h1>
   LISTA DE ALUMNOS
</h1>

<div *ngFor="let alumno of alumnos;let i = index" class="row">{{alumno.nombre}} y posicion {{i}}</div>





<h1>EJEMPLO</h1>
<div *ngFor="let alumno of alumnos2" class="row">
    <div class="w-100 bg-light">
        EL NOMBR DEL ALUMNO ES: {{alumno.nombre}}.
        Y EL IDENTIFICADOR ES:: {{alumno.id}}
    </div>
</div>
<div *ngIf="" class="row">
    ESTE ES MI NUEVO DIV CON IF;
</div>
<button class="btn btn-primary" (click)="addAlumno('Prueba')">Incluir Alumno</button>

<h1>Ejemplo de switch</h1>
<div class="row">
    <button class="btn btn-primary" (click)="posicion = 1;">Cambia a Posición 1</button>
    <button class="btn btn-primary" (click)="aposicion = 2">Cambia a Posición 2</button>
    <button class="btn btn-primary" (click)="posicion = 3">Cambia a Posición 3</button>
    <button class="btn btn-primary" (click)="posicion = 4">Cambia a Posición 4</button>
</div>

<div class="row" [ngSwitch]="posicion">
    <div class="col-12 border boder-info mb-4 pb-3" *ngSwitchCase="1" >PRIMERA POSICION</div>
    <div class="col-12 border boder-info mb-4 pb-3" *ngSwitchCase="2" >SEGUNDA POSICION</div>
    <div class="col-12 border boder-info mb-4 pb-3" *ngSwitchCase="3" >TERCERA POSICION</div>
    <div class="col-12 border boder-info mb-4 pb-3" *ngSwitchDefault  >POSICION DEFECTO</div>
</div>

<button class="btn btn-primary" (click)="mostrarContainer = mostrarContainer?false:true">TOOGLE CONTAINER</button>
<ng-container *ngIf="mostrarContainer">
    <div class="col-12 border boder-info mb-4 pb-3">
        ESTE DIV NO EXISTE EN EL HTML HASTA QUE SE ACTIVE EL VALOR. PORQUE SE HA USADO NG-CONTAINER.
    </div>
</ng-container>

<ng-container *ngIf="mostrarEsteEjemplo()" >
    <div class="col-12 border boder-info mb-4 pb-3">
        ESTE CONTAINER SE VA MOSTRAR CAUNDO LA FUNCIÓN DEVUELVA TRUE

    </div>
</ng-container>

<div class="w-100 border boder-info mb-4 pb-3">
<h2>Ejmplo de mi Primera Directiva propia</h2>


    <p miPrimeraDirectiva>Este es un ejemplo de una directiva</p>

</div>

<div class="w-100 border boder-info mb-4 pb-3" >
<h2>Ejemplo de mi Segunda Directiva propia</h2>

    <h3>Selecciona un color</h3>
    <div>
        <input type="radio" name="colors" (click)="color='lightgreen'" />Verde
        <input type="radio" name="colors" (click)="color='yellow'" />Amarillo
        <input type="radio" name="colors" (click)="color='blue'" />Azul
    </div>


<p [miSegundaDirectiva]='color' pepito="red">Este es un ejemplo de una directiva</p>

</div>

<div class="col-12">
    <h1>Mi Tercera Directiva</h1>

    <div>
        <input type="radio" name="coloresFondo" (click)="colorFondoBoton='black'" />Negro
        <input type="radio" name="coloresFondo" (click)="colorFondoBoton='yellow'" />Amarillo
        <input type="radio" name="coloresFondo" (click)="colorFondoBoton='pink'" />Rosa
    </div>

    <button [appMiTerceraDirectiva]="colorFondoBoton" ancho="500px" color="red" class="btn btn-primary">Botón Directiva</button>

    <div id="prueba3">
        HOLA!!!
    </div>

</div>


















