<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
    <h1 class="bg-info text-warning text-center">
        {{ titulo }}!
    </h1>
    <div class="row">
        <div class="col-3">
            <div class="list-group" id="list-tab" role="tablist">
               <a class="list-group-item list-group-item-action active"
                   id="list-binding-list" data-toggle="list" href="#list-binding">Binding</a>

                <a class="list-group-item list-group-item-action"
                   id="list-directivas-list" data-toggle="list" href="#list-directivas">Directivas</a>

                <a class="list-group-item list-group-item-action"
                   id="list-interaccion-list" data-toggle="list" href="#list-interaccion">Interaccion Componente</a>

                <a class="list-group-item list-group-item-action"
                   id="list-cicloVida-list" data-toggle="list" href="#list-cicloVida">Ciclo de Vida Componente</a>

                <a class="list-group-item list-group-item-action"
                   id="list-pipe-list" data-toggle="list" href="#list-pipe">Pipe</a>

                <a class="list-group-item list-group-item-action"
                   id="list-pipe-list" data-toggle="list" href="#list-formulario">Formularios</a>

                <a class="list-group-item list-group-item-action"
                   id="list-pipe-list" data-toggle="list" href="#list-servicios">Servicios</a>

                <a class="list-group-item list-group-item-action"
                   id="list-pipe-list" data-toggle="list" href="#list-http">HTTP</a>

            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="nav-tabContent">
             <div class="tab-pane fade show active" id="list-binding"><binding></binding></div>
                <div class="tab-pane fade" id="list-directivas"><directivas></directivas></div>
                <div class="tab-pane fade" id="list-interaccion"><clasePadre></clasePadre></div>
                <div class="tab-pane fade" id="list-cicloVida"><cicloVidaPadre></cicloVidaPadre></div>
                <div class="tab-pane fade" id="list-pipe"><pipe></pipe></div>
                <div class="tab-pane fade" id="list-formulario"><app-formulario></app-formulario>
                </div>
                 <div class="tab-pane fade" id="list-servicios"><app-servicios></app-servicios>
                 </div>
                 <div class="tab-pane fade" id="list-http"><app-http></app-http></div>
            </div>
        </div>
    </div>



    <div class="w-100 bg-dark   ">
        <h1>ESTE ES EL PIE DE PÁGINA</h1>
    </div>
</div>

